In [2]:
import pymalts
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
np.random.seed(0)
sns.set()

In [3]:
#

In [5]:
df = pd.read_csv('files/input_malts.csv',index_col=0)

In [6]:
print(df.shape)
df.head()

(477987, 31)

,UMN_event,UMN_member,UMN_donor,UMN_volun,UMN_inform,UMN_loyalty,UMN_avg_Annual_score_5_years,Learning_emails,Legislature_emails,Social_emails,...,AGE,IN_TC_METRO_AREA,IS_CURRENT_TC_EMPLOYEE,ATHLETIC_INTEREST,TRAVEL_INTEREST,AFFINITY_NETWORK_INTEREST,WEB_TOPIC_OPT_INS,member_before,years_before,outcome
ID_DEMO,,,,,,,,,,,,,,,,,,,,,
100000125,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0,1,0.0,0,0,0,0,1,38,0
100000250,0.0,0.0,0.000000,0.0,3.333333,0.0,3.333333,0.0,0.0,0.0,...,87,1,0.0,0,0,0,0,0,100,0
100000295,0.0,1.5,0.000000,0.0,1.500000,0.0,3.000000,0.0,0.0,0.0,...,91,0,0.0,0,0,0,0,0,100,0
100000304,0.0,0.0,0.666667,0.0,3.666667,0.0,4.333333,0.0,0.0,0.0,...,88,1,0.0,0,0,0,0,1,39,0
100000307,0.0,0.0,0.000000,0.0,1.000000,0.0,1.000000,0.0,0.0,0.0,...,81,1,0.0,0,0,0,0,0,100,0

### Setting up the model for learning the distance metric.

Variable name for the outcome variable: 'outcome'.
Variable name for the treatment variable: 'treated'
Data is assigned to python variable d

In [8]:
m = pymalts.malts_mf(outcome='outcome', treatment='outcome', data=df) # running MALTS with default setting

MemoryError: Unable to allocate 1.66 TiB for an array with shape (477987, 477987) and data type float64